<div id="<%= dom_id entry %>">
  <p>
    <strong>Title:</strong>
    <%= entry.title %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= entry.place %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= entry.note %>
  </p>

  <p>
    <strong>Weather:</strong>
    <%= entry.weather %>
  </p>

</div>
